<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="http://twitter.com/xthjan" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://facebook.com/xthjan" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="http://instagram.com/xthjan" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:xtjan@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>Transprt 1.0 </li>
        <li>Transportes S.A. &copy;2016 Todos los derechos reservados.</li>
    </ul>
</footer>
