@using Transprt.Managers
@{
    var menuManager = MenuManager.Instance;
    var menus = menuManager.GetMenuForCurrentUser(ViewBag.IsHome);
}
<!-- Header -->
<header id="header" class="@(ViewBag.IsHome==null ? string.Empty : "alt")">
    <h1><a href="/"><img src="~/images/transprt_logo32x32.png" style="vertical-align:middle" /> Transprt</a></h1>
    @if (ViewBag.HideMenu == null) {
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            @foreach (var menu in menus) {
                                <li><a href="@menu.url" class="more scrolly">@menu.name</a></li>
                            }
                            @if (Request.IsAuthenticated) {
                                <li><a href="/Account/Logout" class="more scrolly">Logout</a></li>
                            } else {
                                <li><a href="/Account/Login" class="more scrolly">Login</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    }
</header>
