@using Transprt.Managers
@using Transprt.Utils
@{
    var menuManager = MenuManager.Instance;
    var usuarioManager = UsuarioManager.Instance;
    var menus = menuManager.GetMenuForCurrentUser(ViewBag.IsHome);
    var userName = "Menu";
    if (Request.IsAuthenticated) {
        userName = "Bienvenido " + usuarioManager.GetNombreCompletoById(UtilAut.GetUserId()) + " | " + userName;
    }
}
<!-- Header -->
<header id="header" class="@(ViewBag.IsHome==null ? string.Empty : "alt")">
    <h1><a href="/"><img src="~/images/transprt_logo32x32.png" style="vertical-align:middle" /> Transprt</a></h1>
    @if (ViewBag.HideMenu == null) {
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>@userName</span></a>
                    <div id="menu">
                        <ul>
                            @foreach (var menu in menus) {
                                <li><a href="@menu.url" class="more scrolly">@menu.name</a></li>
                            }
                            @if (Request.IsAuthenticated) {
                                if (ViewBag.IsHome == null) {
                                    <li><a href="/" class="more scrolly">Home</a></li>
                                }
                                <li><a href="/Dashboard" class="more scrolly">Panel de Control</a></li>
                                <li><a href="/Account/Logout" class="more scrolly">Logout</a></li>
                            } else {
                                <li><a href="/Account/Login" class="more scrolly">Login</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    }
</header>
