@using Transprt.Data

@model Estado
@using (Ajax.BeginForm("AddState", "Pais", new AjaxOptions { UpdateTargetId = "listaEstados", InsertionMode = InsertionMode.Replace, OnSuccess="ClearText" })) {
    <div class="col-md-5">
        @Html.HiddenFor(estado => estado.id_pais)
        @Html.EditorFor(estado => estado.nombre, new { htmlAttributes = new { @class = "form-control", @id="nombreEstado" } })
    </div>
    <input type="submit" value="Agregar Estado" />
}

<script>
    function ClearText() {
        $("#nombreEstado").val('');
    }
</script>
