@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="dashboard">
    <ul class="features">

        <li class="icon fa-paper-plane-o">
            <h3>Arcu accumsan</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-laptop">
            <h3>Ac Augue Eget</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-code">
            <h3>Mus Scelerisque</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-headphones">
            <h3>Mauris Imperdiet</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-heart-o">
            <h3>Aenean Primis</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-flag-checkered" onclick="javascript:window.location='@Url.Action("Index", "Pais", new { id = "" })'">
            <h3>Catálogo de Paises</h3>
            <p>Edición de los distintos paises y sus estádos para </p>
        </li>
    </ul>
</div>