@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="dashboard">
    <ul class="features">

        <li class="icon fa-paper-plane-o">
            <h3>Arcu accumsan</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-laptop">
            <h3>Ac Augue Eget</h3>
            <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-car" onclick="javascript:window.location='@Url.Action("Transportes", "Dashboard", new { id = "" })'">
            <h3>Panel de Control de Transportes</h3>
            <p>Marcas, modelos, tipos de transporte y transportes. Agregar, eliminar, editar.</p>
        </li>
        <li class="icon fa-map-marker" onclick="javascript:window.location='@Url.Action("Index", "Rutas", new { id = "" })'">
            <h3>Rutas</h3>
            <p>Agrega nuevas rutas definiendo los parametros necesarios, para poder asignarlas a los choferes.</p>
        </li>
        <li class="icon fa-bus"  onclick="javascript:window.location='@Url.Action("Index", "Choferes", new { id = "" })'">
            <h3>Choferes</h3>
            <p>Dar de Alta choferes</p>
        </li>
        <li class="icon fa-flag-checkered" onclick="javascript:window.location='@Url.Action("Index", "Pais", new { id = "" })'">
            <h3>Catálogo de Paises</h3>
            <p>Edición de los distintos paises y sus estádos para para ubicación de envios.</p>
        </li>
    </ul>
</div>