
@{
    ViewBag.Title = "Panel de Control de Transportes";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="dashboard">
    <ul class="features">
        <li class="icon fa-car" onclick="javascript:window.location='@Url.Action("Index", "Marcas", new { id = "" })'">
            <h3>Marcas</h3>
            <p>Catálogo de marcas de automóviles.</p>
        </li>
        <li class="icon fa-car" onclick="javascript:window.location='@Url.Action("Index", "Modelos", new { id = "" })'">
            <h3>Modelo</h3>
            <p>Catalogo de modelos de automóviles</p>
        </li>
        <li class="icon fa-car" onclick="javascript:window.location='@Url.Action("Index", "TipoTransportes", new { id = "" })'">
            <h3>Tipos de transporte</h3>
            <p>Catalogo de modelos de tipos de transpore</p>
        </li>
    </ul>
</div>