@{
    ViewBag.Title = "Bienvenidos";
    ViewBag.IsHome = true;

}

<section id="quienes" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
               ¿Quienes Somos?
            </h2>
            <p>
                Queremos conectar a la gente y mejorar su vida. Y lo hacemos porque estamos inflexiblemente centrados en el cliente, brindándole excelencia todos los días.
                Queremos ser la compañía logística a la que la gente acude, porque cubre las necesidades de envío, las oportunidades profesionales y de inversión, y es el punto de referencia a nivel mundial de las prácticas empresariales responsables. 
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
            <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
            <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
        </ul>
    </div>
</section>
<section id="servicios" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
            <h2>
                Seguridad
            </h2>
            <p>Transprt transporta documentos y mercancías urgentes confiable y puntualmente de puerta a puerta en más de 220 territorios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
            <h2>
                Trabajo
            </h2>
            <p>Transprt se hace cargo diariamente de las más variadas necesidades logísticas de los clientes, desde operaciones logísticas estandarizadas y soluciones multimodales de expedición hasta proyectos industriales individualizados.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
            <h2>
                Transprt por contrato
            </h2>
            <p>Líder en el mercado de logística por contrato, proporciona servicios de depósito, gestión de transportes y servicios con valor agregado, ofreciendo soluciones de información corporativa y gestión de las comunicaciones.</p>
        </div>
    </section>
</section>

